<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>sync your hosts</title>
        {% for css in cssList %}
            <link rel="stylesheet" href="{{css}}" />
        {% end %}
    </head>
    <body>
        <div class="header"></div>
        <div class="content clearfix">
            <div class="groups">
                <h2>Group Manage: </h2>
                <div class="group-wrap" id="group-wrap">
                    {% for group in groups %}
                        <div class="group-item" data-group-id="{{group[0]}}">
                            <div class="group-title clearfix">
                                <h5><a href="#" class="group-name action" data-action="fold">{{group[1]}}</a></h5>
                                <div class="op">
                                    <a title="delete" href="#" class="action delete" data-action="delete"><i class="icon-trash"></i></a>
                                    <a title="edit" href="#" class="action edit" data-action="edit"><i class="icon-edit"></i></a>
                                    <a title="active" href="#" class="action active" data-action="active"><i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="group-body">
                                <ul>
                                    {% for item in group[2].split("\n") %}
                                    <li>{{item}}</li>
                                    {% end %}
                                </ul>
                            </div>
                        </div>
                    {% end %}
                </div>
                <div class="add-group">
                    <a href="#" id="add-group-btn" class="add-group-btn btn btn-small btn-primary">Add Group</a>
                </div>
                <div class="modal group-edit-modal" id="group-edit-modal">
                    <form class="" action="/add-group" method="POST">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">×</button>
                            <h3>Edit Group</h3>
                         </div>
                         <div class="modal-body">
                            <label>Group Name:</label>
                            <input class="group-name" maxlength="20" type="text" name="group-name" required placeholder="group name" />
                            <label>Hosts: </label>
                            <div class="edit-area">
                                <div class="stored">
                                </div>
                                <textarea type="text" class="host-input"></textarea>
                            </div>
                         </div>
                         <div class="modal-footer">
                            <div class="button-group fd-clr">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn cancel">Cancel</button>
                            </div>
                         </div>
                    </form>
                </div>
            </div>
            <div class="workspace">
                <h2>Workspace:</h2>
                <div class="edit-area" id="working-edit-area">
                    <div class="stored">
                        {% for host in hostsList %}
                            {% if host[1].startswith('#') %}
                                <div class="unactive-item item clearfix"><span class="data">{{host[1]}}</span><a href="#" class="delete">&#x00d7</a></div>
                            {% else %}
                                <div class="item clearfix"><span class="data">{{host[1]}}</span><a href="#" class="delete">&#x00d7</a></div>
                            {% end %}
                        {% end %}
                    </div>
                    <textarea type="text" class="host-input"></textarea>
                </div>
                <div class="status clearfix">
                    <div class="toast" id="toast"></div>
                    <button id="submit-btn" type="submit" class="btn btn-large btn-primary submit-btn">Save &amp; Sync</button>
                </div>
            </div>
        </div>
        {% for js in jsList %}
            <script src="{{js}}"></script>
        {% end %}
        <script id="group-item-tmpl" type="text/template">
                        <div class="group-item" data-group-id="{{!groupId}}">
                            <div class="group-title clearfix">
                                <h5><a href="#" class="group-name action" data-action="fold">{{!groupName}}</a></h5>
                                <div class="op">
                                    <a title="delete" href="#" class="action delete" data-action="delete"><i class="icon-trash"></i></a>
                                    <a title="edit" href="#" class="action edit" data-action="edit"><i class="icon-edit"></i></a>
                                    <a title="active" href="#" class="action active" data-action="active"><i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="group-body">
                                <ul>
                                    {{!#hosts}}
                                    <li>{{!.}}</li>
                                    {{!/hosts}}
                                </ul>
                            </div>
                        </div>
        </script>
    </body>
</html>
