/**
 * author allenm < http://blog.allenm.me >
 * date 2012-5-23
 * sync your hosts index css
 */

.workspace {
    width:510px;
    margin:20px auto;
}
.edit-area {
    width:500px;
    padding:4px;
    border:1px solid #ccc;
    margin:0 0 20px 0;
}
.edit-area .item {
    border:1px solid #1a8ad5;
    border-radius:3px;
    padding-left:4px;
    background-color:#0d456b;
    color:#fff;
    margin-bottom:2px;
    cursor:pointer;
}
.edit-area .item .data {
    float:left;
    display:inline-block;
    width:480px;
    word-wrap: break-word;
    word-break: break-all; 
}
.edit-area .item .delete {
    float:right;
    color:#fff;
}
.edit-area .unactive-item {
    background-color:#c3c3c3;
    border:1px solid #bbb;
}
.edit-area .host-input {
    height:200px;
    border:0 none;
    padding:0 0 0 4px;
    background:none;
    outline:none;
    width:100%;
    resize:none;
}
.workspace .submit-btn {
    font-size:14px;
    padding:4px 8px;
    float:right;
}
.workspace .toast {
    float:left;
    font-size:14px;
    line-height:20px;
    display:none;
}
.workspace .toast .normal {
    color:#6bd170;
}
.workspace .toast .warning {
    color:#e33b33;
}

