/**
 * author allenm < http://blog.allenm.me >
 * date 2012-5-23
 * sync your hosts index css
 */

h2 {
    color:#333;
    margin-bottom:8px;
}
.hide {
    display:none;
}
.content {
    width:930px;
    margin:0 auto;
}
.groups {
    width:400px;
    min-height:400px;
    float:left;
    margin:20px 20px 0 0;
}
.workspace {
    width:510px;
    margin:20px 0;
    float:left;
}
.edit-area {
    width:500px;
    padding:4px;
    border:1px solid #ccc;
    margin:0 0 20px 0;
}
.edit-area .item {
    border:1px solid #1a8ad5;
    border-radius:3px;
    padding-left:4px;
    background-color:#0d456b;
    color:#fff;
    margin-bottom:2px;
    cursor:pointer;
}
.edit-area .item .data {
    float:left;
    display:inline-block;
    width:480px;
    word-wrap: break-word;
    word-break: break-all; 
}
.edit-area .item .delete {
    float:right;
    color:#fff;
    display:none;
}
.edit-area .item:hover .delete {
    display:inline;
}
.edit-area .unactive-item {
    background-color:#c3c3c3;
    border:1px solid #bbb;
}
.edit-area .host-input {
    height:200px;
    border:0 none;
    padding:0 0 0 4px;
    background:none;
    outline:none;
    width:100%;
    resize:none;
    box-shadow:none;
}
.workspace .submit-btn {
    float:right;
}
.workspace .toast {
    float:left;
    font-size:14px;
    line-height:20px;
    display:none;
}
.workspace .toast .normal {
    color:#6bd170;
}
.workspace .toast .warning {
    color:#e33b33;
}

.groups .add-group {
    width:398px;
    height:28px;
    line-height:28px;
    margin:0 0 20px 0;
}

/*.add-group-form .group-name {*/
/*width:390px;*/
/*}*/
/*.add-group-form .edit-area {*/
/*width:390px;*/
/*}*/
/*.add-group-form .edit-area .item .data {*/
/*width:370px;*/
/*}*/
.group-edit-modal {
    display:none;
}
.group-edit-modal .button-group button {
    float:right;
    margin-left:8px;
}
.group-edit-modal form {
    margin:0;
}
.group-item {
    border:1px solid #ccc;
    border-radius:5px;
    margin:0 0 8px 0;
}
.group-item .group-title {
    height:18px;
    padding:4px 4px;
    background-color:#efefef;
}
.group-item .group-body {
    border-top:1px solid #ccc;
    padding:6px 4px;
    display:none;
}
.group-item-unfold .group-body {
    display:block;
}
.group-title h5 {
    float:left;
}
.group-title .op {
    float:right;
    height:18px;
}
.group-title .op .action {
    float:left;
    margin-right:4px;
}
.group-title .group-name:link,
.group-title .group-name:visited {
    color:#333;
}
.group-title .group-name:hover,
.group-title .group-name:active {
    text-decoration:none;
    color:#666;
}
